@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

html,
body,
body > div,
main,
:root {
  /*background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://static.vecteezy.com/system/resources/previews/002/617/764/non_2x/world-binary-circuit-board-future-technology-blue-hud-cyber-security-concept-background-free-vector.jpg");*/
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
